<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fa fa-camera text-info"></i>
      <span class="text-warning">Chinagram</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-profile">MyProfile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-user">CreateUser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/upload">Upload photo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/feed">Feed</a>
      </li>
    </ul>
  </div>
</nav>
